@model string;

@{
    ViewData["Title"] = "Period Details";
}
<h2>Period Info</h2>
<hr />
<form asp-action="GetNextPeriod">
    <div class="form-group">
        <label for="exampleInputEmail1">Last Period</label>
        <input name="lastPeriodStartDateString" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Cycle Length</label>
        <input name="cycleLength" type="number" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Period Length</label>
        <input name="periodLength" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    @*<div class="form-group">
        <label for="exampleInputPassword1">Note</label>
        <input asp-for="Note" type="text" class="form-control" id="exampleInputPassword1" placeholder="Add a description">    
    </div>*@
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>