<style>
    .last-period {
        float: left;
    }

    .cycle-length {
        float: right;
    }

    .period-length {
        margin-left: 65vh;
        margin-right: 65vh;
    }

    .form-group {
        margin-top: 20vh;
    }

    .start-tracking {
        margin-left: 0vh;
        margin-right: 70vh;
        margin-top: 10vh;
    }
    .ovulation-day{
       float:left;
    }
    .fertility-window{
        margin-left: 30vh;
        margin-right: 70vh;
        margin-top: 10vh;
    }
    .safe-period{
        margin-left: 40vh;
        margin-right: 60vh;
        margin-top: 10vh;
    }
</style>


@model string;
@{
    ViewData["Title"] = "Home Page";
    var result = ViewData["nextPeriod"];
}

<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope"></i> <a href="">contact@example.com</a>
            <i class="bi bi-phone"></i> +1 5589 55488 55
        </div>
        <div class="d-none d-lg-flex social-links align-items-center">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        </div>
    </div>
</div>

<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="index.html">Medilab</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li><a class="nav-link scrollto" href="#departments">Departments</a></li>
                <li><a class="nav-link scrollto" href="#doctors">Doctors</a></li>
                
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Make an</span> Appointment</a>

    </div>
</header>

<hr />
<form asp-action="GetMyNextPeriod" class="form-group">
    <div class="last-period">
        <label for="exampleInputEmail1">Last Period</label>
        <input name="lastPeriodStartDateString" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="cycle-length">
        <label for="exampleInputPassword1">Cycle Length</label>
        <input name="cycleLength" type="number" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="period-length">
        <label for="exampleInputEmail1">Period Length</label>
        <input name="periodLength" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Note</label>
    <input name="Note" type="text" class="form-control" id="exampleInputPassword1" placeholder="Add a description">
    </div>
    <div class="start-tracking">
        <input type="submit" value="Get Next Period" class="btn btn-primary" />
    </div>
</form>
<form asp-action="GetMyOvulationDay" class="form-group" class="ovulation-day">
    <div class="start-tracking">
        <input type="submit" value="Get Ovulation Day" class="btn btn-primary" />
    </div>
</form>
<form asp-action="GetMyFertilityWindow" class="form-group" class="fertility-window">
    <div class="start-tracking">
        <input type="submit" value="Get Fertility Window" class="btn btn-primary" />
    </div>
</form>
<form asp-action="GetMySafePeriod" class="form-group" class="safe-period">
    <div class="start-tracking">
        <input type="submit" value="Get Safe Period" class="btn btn-primary" />
    </div>
</form>
<span class="text-success"></span>
<button type="submit" class="btn btn-primary">Get My next Period</button>